# ==========================================
# 1. Chặn file rác của Altium Designer (Thư mục hardware)
# ==========================================
**/History/
**/__Previews/
*.PrjPcbStructure
*.RptStructure
*.PrjPcbStructure
*.AprReport
**/Project Outputs for */
*.LOG
*.ERR
