# ==========================================
# 1. Chặn file rác của Altium Designer (Thư mục hardware)
# ==========================================
**/History/
**/__Preview/
*.RptStructure
*.PrjPcbStructure
*.PrjPcb
*.AprReport
**/Project Outputs for */
*.LOG
*.ERR
