# ==========================================
# 1. Chặn file rác của Altium Designer (Thư mục hardware)
# ==========================================
**/History/
**/__Preview/
*.PrjPcbStructure
*.RptStructure
*.AprReport
**/Project Outputs for */
*.LOG
*.ERR